.myDiagramDiv {
  background: whitesmoke;
  width: 89vw;
  height: 87vh;
  border: 1px solid black;
}

.myPaletteDiv {
  background: whitesmoke;
  width: 10vw;
  height: 87vh;
  border: 1px solid black;
}
